{% extends "base/main.html" %}
{% block title %}Confirm Delete{% endblock title %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'blogs' %}"><i class="im im-angle-left"><</i></a>
            <br>
            <h1>Are your sure you want to delete this blog?</h1>
            <form class="form" method="POST" action="">
                {% csrf_token %}
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
            </form>
        </div>
    </div>
</main>
{% endblock content %}